
  .js{
  font-weight:bold;
  color : coral
  }
  #first{
  color : blue;
  }
  span{
  color : red;
  } /* 여기까지 색깔 연습 */


 a {
    color : black ;
    text-decoration : none ;
  }
  .saw{
    color : gray;
  }
  #active{
    color : red;
  }  /* 여기까지 선택자 연습 */


  body{
    margin : 0;
  }
  h1 {
  font-size:45px ;
  text-align : center ; 
  border-bottom : 1px solid gray ;
  padding : 20px ; 
  margin : 0;
  }  /* 여기까지 박스 모델 연습 */

    
  #grid  {
    display : grid ;
    grid-template-columns : 160px 1fr ;
  }
  #grid ol{
    border-right : 1px solid gray;
    width : 105px ;
    margin : 0;
    padding : 20px ;
    padding-left : 35px ;
  }
  #article {
    padding-left : 25px ;
  } /* 여기까지 그리드 연습 */

    
  .nav {
      list-style : none ;
      display : flex ;
    }
    .nav> li { /* nav class 중 li 인데, 직계 li여야함(> 안쓰면 li안쪽 어디든에 있는 li 전부 선택 */
      position : relative ;
    }
    .submenu {
      display : none ; /* 안쓰면 항상 떠있음. hover 시에만 보이려면 기본값이 숨겨져있어야 */
      position : absolute ; /* 하위 메뉴는 부모메뉴 바로 아래 떨어지므로, 부모인 nav li에 relative로 기준점 지정. absolute로 상대적 위치 선정 */
      top : 100% ;
      left : 0 ;
    }
    .nav li:hover .submenu { /* nav class 안의 li 중, 마우스를 올렸을 때(:hover) 활성된 그 li만 선택 */
      display : block ;
    } /* 여기까지 드롭다운 연습 */

    
  @media(max-width : 400px) {
    h1{
      font-size : 30px;
      text-align : center;
      border : none ;
    }
    #grid {
      display : block;
    }
    #grid ol{
    border-right : none;
    width : initial ;
    }
  }     /* 여기까지 미디어쿼리 연습 */


